<!doctype html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Developer API Documentation</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        })
    </script>
    <!-- Custom Style -->
    <style>
        * {
            font-size: .95rem;
        }
        .btn:focus,
        .accordion-button:focus {
            outline: none;
            box-shadow: none;
        }
        .pointer{
            cursor: pointer;
        }
        .px-3{
            padding-left: .75rem !important;
            padding-right: .75rem !important;
        }
        .accordion-button {
            padding: .4rem .6rem;
        }

        .accordion-button::after{
            margin-left: 0;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;
        }

        .accordion-body{
            border-top: 1px solid rgba(0,0,0,.125);
            padding: .75rem;
        }

        .accordion-body > *{
            margin-bottom: .75rem;
        }

        .accordion-body > *:last-child{
            margin-bottom: 0;
        }

        .alert{
            padding: .5rem 1rem;
        }

        .route {
            display: flex;
            align-items: center;
            gap: .75rem;
        }

        .route .method {
            border-radius: .2rem;
            padding: .2rem .4rem;
            font-weight: 500;
            color: #FFF;
        }
        .route .method.get {
            background: #49cc90;
        }
        .route .method.post {
            background: #61affe;
        }
        .route .method.put {
            background: #fca130;
        }
        .route .method.patch {
            background: #a730fc;
        }
        .route .method.delete {
            background: #f93e3e;
        }
        .route .uri {
            font-weight: 500;
            padding: .2rem .4rem;
            border: 1px solid rgba(0,0,0,.1);
            border-radius: .25rem;
            color: rgba(0,0,0,.75);

        }
        .route .desc{
            color: rgba(0,0,0,.75);
        }
        .title{
            font-weight: 400;
            color: rgba(0,0,0,.75);
        }
    </style>
</head>
<body class="bg-light">
<main class="container">
    {#
        Header
    #}
    <div class="d-flex align-items-center p-3 my-3 text-white bg-primary rounded shadow-sm">
        <i class="fa-solid fa-book fa-2xl"></i>
        <div class="ms-3">
            <h1 class="h5 mb-1 text-white lh-1">Developer API Documentation</h1>
            <small>Created Date: {{ devMode ? 'Dev Mode' : 'now'|date('d.m.Y H:i') }}</small>
        </div>
        <div class="ms-auto">
            <div class="dropdown text-end mb-1">
                <a class="btn btn-outline-light btn-sm dropdown-toggle" type="button" id="versionDropdown" data-bs-toggle="dropdown">Version: <span id="latest"></span></a>
                <ul class="dropdown-menu dropdown-menu-end" id="docs">
                    <li><a class="dropdown-item" href="{{ path('api_doc') }}">Latest</a></li>
                </ul>
            </div>
            <div class="text-end">{{ customData['baseUrl'] }}</div>
        </div>
    </div>

    <div class="row">
        {#
            Sidebar
        #}
        <div class="col-3">
            <div id="lists" class="list-group sticky-top bg-body rounded" style="top: 1rem">
                {% for groupName, routes in data %}
                    <a class="list-group-item list-group-item-action" href="#{{ groupName }}">{{ groupName ?: '/' }}</a>
                {% endfor %}
            </div>
        </div>

        {#
            Routes
        #}
        <div class="col-9">
            {% for groupName, routes in data %}
                <div class="group-item">
                    {% if groupName is not empty %}<h5 class="title" id="{{ groupName }}">{{ groupName }}</h5>{% endif %}
                    <div class="accordion shadow-sm rounded mb-3">
                        {% for routeUri, route in routes %}
                            <div class="accordion-item">
                                <h3 class="accordion-header small">
                                    <button class="accordion-button route collapsed" data-bs-toggle="collapse" data-bs-target="#panel{{ groupName ~ loop.parent.loop.index ~ loop.index }}">
                                        {% for method in route.endpointMethod %}
                                            <span class="method {{ method|lower }}">{{ method }}</span>
                                        {% endfor %}
                                        {% if route.requireAuth %}
                                            <a class="method auth bg-warning" data-bs-toggle="tooltip" title="Require Authentication"><i class="fa-solid fa-user-shield"></i></a>
                                        {% endif %}
                                        <span class="uri">{{ route.path }}</span>
                                        <span class="desc">{{ route.desc }}</span>
                                        <span class="ms-auto">{{ route.controllerResponseType }}</span>
                                    </button>
                                </h3>

                                <div id="panel{{ groupName ~ loop.parent.loop.index ~ loop.index }}" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="accordion" id="accordionContent">
                                            {#Controller#}
                                            <p class="alert bg-light mb-0"><b>Controller: </b> <a href="phpstorm://open?file={{ route.controllerPath }}&line={{ route.controllerLine }}">{{ route.controller }}</a></p>

                                            {#Attributes#}
                                            {% if route.endpointAttr is not empty %}
                                                <div class="mt-3">
                                                    <div class="d-flex align-items-center fw-bold mb-2 pb-2 border-bottom border-info pointer" data-bs-toggle="collapse" data-bs-target="#panelAttr{{ loop.parent.loop.index ~ loop.index }}">
                                                        <i class="fa-solid fa-code me-2"></i>
                                                        Route Attributes
                                                    </div>
                                                    <div id="panelAttr{{ loop.parent.loop.index ~ loop.index }}" class="accordion-collapse collapse">
                                                        {% for name, type in route.endpointAttr %}
                                                            <p class="mb-0"><span class="d-inline-block" style="min-width: 30%;">{{ name }}:</span><code>{{ type }}</code></p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {#Header#}
                                            {% if route.header is not empty %}
                                                <div class="mt-3">
                                                    <div class="d-flex align-items-center fw-bold mb-2 pb-2 border-bottom border-info pointer" data-bs-toggle="collapse" data-bs-target="#panelHeader{{ loop.parent.loop.index ~ loop.index }}">
                                                        <i class="fa-solid fa-shield me-2"></i> Header Parameters
                                                        <span class="ms-auto bg-secondary text-white px-1 rounded-1 small">HEADER</span>
                                                    </div>
                                                    <div id="panelHeader{{ loop.parent.loop.index ~ loop.index }}" class="accordion-collapse collapse">
                                                        {% for name, type in route.header %}
                                                                <p class="mb-0">
                                                                    <span class="d-inline-block" style="min-width: 30%;">{{ name }}:</span>
                                                                    <code>{{ type }}</code>
                                                                </p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {#Query#}
                                            {% if route.get is not empty %}
                                                <div class="mt-3">
                                                    <div class="d-flex align-items-center fw-bold mb-2 pb-2 border-bottom border-info pointer" data-bs-toggle="collapse" data-bs-target="#panelQuery{{ loop.parent.loop.index ~ loop.index }}">
                                                        <i class="fa-solid fa-filter me-2"></i> Query Parameters
                                                        <span class="ms-auto bg-secondary text-white px-1 rounded-1 small">GET</span>
                                                    </div>
                                                    <div id="panelQuery{{ loop.parent.loop.index ~ loop.index }}" class="accordion-collapse collapse">
                                                        {% macro recursiveQuery(name,type) %}
                                                            <div class="mb-1 d-flex ">
                                                                <span style="min-width: 20%;">{{ name }}:</span>
                                                                {% if type is iterable %}
                                                                    <div class="d-flex flex-column flex-fill">
                                                                        {% for subName, subType in type %}
                                                                            {{ _self.recursiveQuery(subName, subType) }}
                                                                        {% endfor %}
                                                                    </div>
                                                                {% else %}
                                                                    <code>{{ type }}</code>
                                                                {% endif %}
                                                            </div>
                                                        {% endmacro %}
                                                        {% for name, type in route.get %}
                                                            {{ _self.recursiveQuery(name, type) }}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {#Body#}
                                            {% if 'POST' in route.endpointMethod or 'PUT' in route.endpointMethod or 'PATCH' in route.endpointMethod %}
                                                {% if route.post is not empty %}
                                                    <div class="mt-3">
                                                        <div class="d-flex align-items-center fw-bold mb-2 pb-2 border-bottom border-info pointer" data-bs-toggle="collapse" data-bs-target="#panelBody{{ loop.parent.loop.index ~ loop.index }}">
                                                            <i class="fa-solid fa-database me-2"></i> Body Parameters
                                                            <span class="ms-auto bg-secondary text-white px-1 rounded-1 small">{{ route.endpointMethod|filter(v => v != 'GET')|join('|') }}</span>
                                                        </div>
                                                        <div id="panelBody{{ loop.parent.loop.index ~ loop.index }}" class="accordion-collapse collapse">
                                                            {% for name, type in route.post %}
                                                                    <div class="mb-0 d-flex">
                                                                        <span class="d-inline-block" style="min-width: 30%;">{{ name }}:</span>
                                                                        {% if type is iterable %}
                                                                            <code><pre class="mb-0">{{ type|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></code>
                                                                        {% else %}
                                                                            <code>{{ type }}</code>
                                                                        {% endif %}
                                                                    </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                            {# Response #}
                                            {% if route.controllerResponse is not empty %}
                                                <div class="mt-3">
                                                    <div class="d-flex align-items-center fw-bold mb-2 pb-2 border-bottom border-success pointer" data-bs-toggle="collapse" data-bs-target="#panelResponse{{ loop.parent.loop.index ~ loop.index }}">
                                                        <i class="fa-solid fa-reply me-2"></i> Response
                                                        <span class="ms-auto bg-secondary text-white px-1 rounded-1 small">{{ route.controllerResponseType == 'ApiResponse' ? 'JSON' : route.controllerResponseType }}</span>
                                                    </div>
                                                    <div id="panelResponse{{ loop.parent.loop.index ~ loop.index }}" class="accordion-collapse collapse">
                                                        {% for code, response in route.controllerResponse %}
                                                            <div class="mb-0 d-flex">
                                                                <span class="d-inline-block" style="min-width: 30%;">{{ statusText[code] }} {{ code }}:</span>
                                                                <code><pre class="mb-0">{{ response|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></code>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {# Exception Response #}
                                            {% if route.exception is not empty %}
                                                <div class="mt-3">
                                                    <div class="d-flex align-items-center fw-bold mb-2 pb-2 border-bottom border-success pointer" data-bs-toggle="collapse" data-bs-target="#panelException{{ loop.parent.loop.index ~ loop.index }}">
                                                        <i class="fa-solid fa-bug me-2"></i> Exception Response
                                                        <span class="ms-auto bg-secondary text-white px-1 rounded-1 small">JSON</span>
                                                    </div>
                                                    <div id="panelException{{ loop.parent.loop.index ~ loop.index }}" class="accordion-collapse collapse">
                                                        {% for type, response in route.exception %}
                                                            <div class="mb-0 d-flex">
                                                                <span class="d-inline-block" style="min-width: 30%;">{{ type }} ({{ response.code }}):</span>
                                                                <code><pre class="mb-0">{{ response|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></code>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

<script>
    let docs = JSON.parse('%docs%');
    if (docs.length > 0) {
        docs.forEach(function (ts) {
            let time = new Date(ts * 1000).toLocaleString();
            document.getElementById('docs').innerHTML += `<li><a href="/api-doc/${ts}" class="dropdown-item">${time}</a></li>`;
        });

        // Select
        let current = document.querySelector(`a[href="${window.location.pathname}"`);
        if (current) {
            current.classList.add('active');
        }

        document.getElementById('latest').innerHTML = current ? current.innerHTML : 'Latest';
    }
</script>
</body>
</html>