{% extends 'email/_layout.html.twig' %}

{% block preHeader %}{{ 'Verification Code'|trans([], null, locale) }}{% endblock %}

{% block contentStart %}
    <h2>{{ 'Hi %user%'|trans({'%user%': user.firstName|capitalize}, null, locale) }},</h2>
    <p>{{ 'Verification Code'|trans([], null, locale) }}: <b>{{ code }}</b></p>
{% endblock %}

{% block contentSub %}
    {{ "Didn't you request this verification code? Please secure your account by changing your password. To protect your account security, please do not allow others to access your email."|trans([], null, locale) }}
{% endblock %}
