{% extends 'email/_layout.html.twig' %}

{% block preHeader %}{{ 'Welcome to Raiden'|trans([], null, locale) }}{% endblock %}

{% block contentStart %}
    <h1>{{ 'Hi %user%'|trans({'%user%': user.firstName|capitalize}, null, locale) }},</h1>
    <p>
        {{ 'Thanks for trying Raiden. We’re thrilled to have you on board. To get the most out of Raiden, do this primary next step:'|trans([], null, locale) }}
    </p>
{% endblock %}

{% block contentAction %}
    <a href="{{ APP_WEBSITE_URI }}" class="f-fallback button" target="_blank">{{ 'Visit Website'|trans([], null, locale) }}</a>
{% endblock %}
