<!doctype html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Developer API Documentation</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Custom Style -->
    <style>
        .btn:focus,
        .accordion-button:focus {
            outline: none;
            box-shadow: none;
        }

        .accordion-button {
            padding: .5rem .75rem;
        }

        .accordion-button::after{
            margin-left: 0;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;
        }

        .accordion-body{
            border-top: 1px solid rgba(0,0,0,.125);
            padding: .75rem;
        }

        .accordion-body > *{
            margin-bottom: .75rem;
        }

        .accordion-body > *:last-child{
            margin-bottom: 0;
        }

        .alert{
            padding: .5rem 1rem;
        }

        .route {
            display: flex;
            align-items: center;
            gap: .75rem;
        }

        .route .method {
            border-radius: .25rem;
            padding: .25rem .5rem;
            font-weight: 500;
            color: #FFF;
        }
        .route .method.get {
            background: #49cc90;
        }
        .route .method.post {
            background: #61affe;
        }
        .route .method.put {
            background: #fca130;
        }
        .route .method.patch {
            background: #a730fc;
        }
        .route .method.delete {
            background: #f93e3e;
        }
        .route .uri {
            font-weight: 500;
            padding: .25rem .5rem;
            border: 1px solid rgba(0,0,0,.1);
            border-radius: .25rem;
            color: rgba(0,0,0,.75);

        }
        .route .desc{
            color: rgba(0,0,0,.75);
        }
        .title{
            font-weight: 400;
            color: rgba(0,0,0,.75);
        }
    </style>
</head>
<body class="bg-light">
<main class="container">
    {#
        Header
    #}
    <div class="d-flex align-items-center p-3 my-3 text-white bg-primary rounded shadow-sm">
        <svg class="me-3" width="48" height="38" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
            <path fill="currentColor" d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"></path>
        </svg>
        <div>
            <h1 class="h5 mb-0 text-white lh-1">Developer API Documentation</h1>
            <small>Last Update: 05.01.2022</small>
        </div>
        <div class="ms-auto">
            http://127.0.0.1:8000
        </div>
    </div>

    <div class="row">
        {#
            Sidebar
        #}
        <div class="col-3">
            <div id="lists" class="list-group sticky-top bg-body rounded" style="top: 1rem">
                {% for groupName, routes in data %}
                    <a class="list-group-item list-group-item-action" href="#{{ groupName }}">{{ groupName ?: '/' }}</a>
                {% endfor %}
            </div>
        </div>

        {#
            Routes
        #}
        <div class="col-9">
            {% for groupName, routes in data %}
                <div class="group-item">
                    {% if groupName is not empty %}<h5 class="title" id="{{ groupName }}">{{ groupName }}</h5>{% endif %}
                    <div class="accordion shadow-sm rounded mb-3">
                        {% for routeUri, route in routes %}
                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button route collapsed" data-bs-toggle="collapse" data-bs-target="#panel{{ groupName ~ loop.index }}">
                                        {% for method in route.method %}
                                            <span class="method {{ method|lower }}">{{ method }}</span>
                                        {% endfor %}
                                        <span class="uri">{{ routeUri }}</span>
                                        <span class="desc">{{ route.description }}</span>
                                        <span class="ms-auto">{{ route.responseType }}</span>
                                    </button>
                                </h3>

                                <div id="panel{{ groupName ~ loop.index }}" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        {#Controller#}
                                        <p class="alert rounded-0 alert-warning"><b>Controller: </b> <a href="phpstorm://open?file={{ route.filePath }}&line={{ route.fileLine }}">{{ route.controller }}</a></p>

                                        {#Query#}
                                        <div class="p-2 px-3 alert-info">
                                            <div class="d-flex fw-bold mb-2">Query Attribute/Parameter <span class="ms-auto">GET</span></div>
                                            {% for name, type in route.query %}
                                                <p class="mb-0"><span class="d-inline-block" style="min-width: 30%;">{{ name }}:</span><code>{{ type }}</code></p>
                                            {% else %}
                                                <span class="text-muted">No parameters found!</span>
                                            {% endfor %}
                                        </div>

                                        {#Body#}
                                        {% if 'POST' in route.method or 'PUT' in route.method or 'PATCH' in route.method %}
                                            <div class="p-2 px-3 alert-info">
                                                <div class="d-flex fw-bold mb-2">Body Parameters <span class="ms-auto">POST/PUT/PATCH</span></div>
                                                {% for name, type in route.query %}
                                                    <p class="mb-0"><span class="d-inline-block" style="min-width: 30%;">{{ name }}:</span><code>{{ type }}</code></p>
                                                {% else %}
                                                    <span class="text-muted">No parameters found!</span>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {# Response #}
                                        <div class="p-2 px-3 alert-success">
                                            <div class="d-flex fw-bold mb-2">Response (Sample) <span class="ms-auto">{{ route.responseType }}</span></div>
                                            {% for name, type in route.response %}
                                                <p class="mb-0"><span class="d-inline-block" style="min-width: 30%;">{{ name }}:</span><code>{{ type }}</code></p>
                                            {% else %}
                                                <span class="text-muted">No parameters found!</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
</body>
</html>